
.kostia-red
  background: forestgreen

$body-background: white

$text: black


@import "../../node_modules/bulma/bulma"

@import "SplitPane"
@import "AppDesigner"
@import "TreeGrid"
@import "Window"


// tabs подправлен дизайн
.tabs a
  padding: 3px 8px
  color: #868686

.tabs a:hover
  border-bottom-color: silver

li.is-active a
  border-bottom-width: 2px

// inpit подправлен дизайн
.form
  margin-top: 10px
  margin-left: 10px

  .input, .text-area
    height: 26px
    background-color: floralwhite
    color: #505050

  td
    padding-bottom: 8px
    padding-right: 8px

  .caption
    //font-size: 95%
    color: #1f99d3
