
.kostia-red
  background: forestgreen

$body-background: white

$text: black

@import "SplitPane"
@import "AppDesigner"

@import "../../node_modules/bulma/bulma"

.desktop
  border: 1px solid red
  background: #e8e8e8

.window
  background: cornsilk
  //border: 1px solid gray

  .window-header
    background: coral
    border: 1px solid gray

    .window-title

    .buttons-bar

      .minimize-button
        background: transparent
        color: #6b6b6b

      .maximize-button
        background: transparent
        color: #6b6b6b

      .close-button
        background: transparent
        color: #6b6b6b

  .window-resizer
    background: rgba(146, 146, 146, 0.22)

