.button > img
  margin-right: 5px


.button:hover
  border-color: #aeb1b5
  background: lighten(silver, 20%)

.button:active, .button.is-active
  border-color: transparent
  outline: none
  background: lighten(silver, 10%)
  box-shadow: none
