@import "../../node_modules/bulma/bulma"

.ag-fresh .ag-group-cell
  font-style: normal

.ag-scrolls .ag-row .ag-cell-value
  white-space: normal

.ag-cell-value.group-expanded
  font-weight: bold




