@import "../../node_modules/bulma/bulma"

.tree-grid


/*border: 1px solid red;
/*display: flex;
/*flex-direction: column;
/* position: relative;

.tree-grid-header-wrapper
/*flex: 0 0 auto;

.tree-grid-body-wrapper
/*border: 3px solid maroon;
/* flex: 0 1 auto;
/* overflow-y: hidden;
/* overflow-x: visible;
/*position: relative;
/*overflow-x: auto;
/*overflow-y: auto;

.tree-grid-footer-wrapper
  .button
    margin-right: 3px
    margin-top:  3px
/*flex: 0 0 auto;

.tree-grid-empty-body
  padding: 10px


.tree-grid-body
  background: white
  &:focus
    outline: none

  /*table-layout: fixed;
  /*border-collapse: collapse;
  /*position: relative;

  > tbody > tr > td
    border: 1px solid #dedede
    padding: 2px 2px 2px 4px

  > tbody > tr > td.drop-allow-after-cell
      border-bottom: rgba($green,.5) solid 4px

  > tbody > tr > td.drop-deny-after-cell
      border-bottom: rgba($red,.5) solid 4px

  > tbody > tr > td .drop-arrow
    position: absolute
    left: -4px

  > tbody > tr > td .drop-arrow.drop-allow-into-cell
      color: rgba($green,.95)

  > tbody > tr > td .drop-arrow.drop-deny-into-cell
      color: rgba($red,.95)

.tree-grid-header, .tree-grid-footer
  /*table-layout: fixed;
  /*background: white;
  /*border-collapse: collapse;

  > tbody > tr > td
    border: 1px solid #b5b5b5
    padding: 2px 2px 2px 4px
    background-color: #eaeaea


.tree-grid-focused-row
  background-color: #f3f3f3

.tree-grid-focused-cell
  background-color: #e2e2e2
  //outline: #53a1eb 1px dotted

