.desktop
  border: 1px solid red
  background: #e8e8e8

$window-border-width: 2px
$window-border-radius: 5px
$window-border-color: lightslategray

.window.box
  border-radius: $window-border-radius

.window
  background: white

  .window-header
    background: $window-border-color
    border: $window-border-width solid $window-border-color

    .window-title
      color: white

    .buttons-bar

      .minimize-button, .maximize-button, .close-button
        background: transparent
        color: #c7c7c7
        &:hover
          color: white
        &:active
          color: #404040

  //.window-resizer
  //  background: rgba(146, 146, 146, 0.22)

  .window-body
     border: $window-border-width solid $window-border-color
     border-radius: 0 0 $window-border-radius $window-border-radius

  .window-disabled-wrapper
    background: rgba(255, 255, 255, 0.43)

